.tableContainer {
  display: flex;
  .table {
    margin-bottom: 0px;
  }
}


.groupListContainer {
  border: 1px solid #369;
  display: flex;
  align-self: baseline;
  flex-direction: column;
  margin-right: 50px;
  min-width: 280px;
  .groupItem {
    align-self: auto;
    padding: 20px;
    color: #333;
    cursor: pointer;
  }
  .selected {
    background-color: #369;
    color: #fff;

  }
}
