<div class="tableContainer">
  <div class="groupListContainer">
      <div class="groupItem" *ngFor="let group of groups" (click)="selectedGroup = group" [ngClass]="{'selected':selectedGroup === group}">{{group}}</div>
  </div>
  <table class="table table-striped border">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Group</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users | filter: 'group' : selectedGroup; index as i">
      <th scope="row">{{ user.id }}</th>
      <td>
        {{ user.name | uppercase}}
      </td>
      <td>{{ user.username }}</td>
      <td>{{ user.group }}</td>
    </tr>
    </tbody>
  </table>
</div>
