
<h2>{{childUser.name | uppercase}}  Details</h2>
<div><span>id: </span>{{childUser.id}}</div>
<div><span>name: </span>{{childUser.name}}</div>
<div><span>userName: </span>{{childUser.username}}</div>
<div><span>Group: </span>{{childUser.group}}</div>
